.saved-news-header {
    height: 374px;
    width: 100%;
    border: 0;
    position: relative;
    background-color: black;
}

.saved-news-header__content {
    text-align: left;
    color: white;
    position: absolute;
    margin-top: 120px;
    margin-left: 104px;
        /* color: #1A1B22;; */
}

.saved-news-header__title {
    font-size: 18px;
    line-height: 24px;
    opacity: .5;
}

.saved-news-header__greeting {
    font-size: 40px;
    line-height: 46px;
}
.saved-news-header__keywords {
    font-size: 18px;
    line-height: 24px;
}

.saved-news-header__keywords_emphasized {
    font-weight: bold;
}