.saved-news-header {
    height: 374px;
    width: 100%;
    border: 0;
    position: relative;
    background-color: black;
}

.saved-news-header__content {
    text-align: left;
    color: white;
    position: absolute;
    margin-top: 120px;
    margin-left: 104px;
        /* color: #1A1B22;; */
}

.saved-news-header__title {
    font-size: 18px;
    line-height: 24px;
    opacity: .5;
}

.saved-news-header__greeting {
    font-size: 40px;
    line-height: 46px;
    margin: 16px 0;
}
.saved-news-header__keywords {
    font-size: 18px;
    line-height: 24px;
    margin-top: 34px;
}

.saved-news-header__keywords_emphasized {
    font-weight: bold;
}

@media screen and (max-width: 740px) {
    .saved-news-header__content {
        padding-right: 40px;
    }
}

@media screen and (max-width: 470px) {
    .saved-news-header {
        height: 302px;
    }
    
    .saved-news-header__content {
        margin-top: 64px;
        margin-left: 16px;
        width: 288px;
    }
    
    .saved-news-header__title {
        font-size: 12px;
        margin: 8px 0 0;
    }
    
    .saved-news-header__greeting {
        font-size: 30px;
        line-height: 34px;
    }
}