.author {
    display: flex;
    margin: 80px 216px 80px 104px;
    justify-content: center;
}

.author__image {
    border-radius: 50%;
    height: 464px;
    width: 464px;
    object-fit: cover;
    margin-top: 21px;
}

.author__content {
    width: 600px;
    margin-top: 50px;
    text-align: left;
    padding-left: 56px;
}

.author__content_title {
    font-family: 'Roboto Slab', serif;
    font-size: 40px;
    line-height: 46px;
    font-weight: 400;
}

.author__content_body {
    font-size: 18px;
    line-height: 24px;
}

@media screen and (max-width: 1200px) {
    .author {
        margin: 0;
    }

    .author__image {
        height: 272px;
        width: 272px;
        margin: 61px 40px;
    }

    .author__content {
        width: 424px;
        padding: 0;
        margin-top: 40px;
    }

    .author__content_title {
        margin: 0;
    }

    .author__content_body {
        margin-top: 16px;
    }
}

@media screen and (max-width: 800px) {
    .author__content_title {
        font-size: 30px;
        line-height: 40px;
    }
}

@media screen and (max-width: 520px) {
    .author {
        flex-direction: column;
    }
    
    .author__image {
        margin: 32px auto 0;
    }

    .author__content {
        width: 288px;
        margin: 16px auto 128px;
        text-align: left;
    }
}