.navigation__list {
    display: flex;
    margin-top: 30px;
    padding-left: 625px;
    font-weight: 500;
    font-size: 18px;
}

.navigation_theme_dark .navigation__list-item {
    color: #1A1B22;
}

.navigation__list-item {
    list-style-type: none;
    margin-right: 42px;
}

.navigation__list-item:hover {
    opacity: .8;
    cursor: pointer;
}

.navigation__list-item_basic {
    border-bottom: 3px solid #FFF;
    padding: 3px 12px 23px;
    /* width: 68px; */
}

.navigation_theme_dark .navigation__list-item_basic {
    border-bottom: 3px solid #1A1B22;
    padding-top: 3px;
    padding-bottom: 23px;
    /* width: 178px; (Make responsive if you add) */
}

.navigation__list-item_primary {
    max-width: 176px;
    height: 40px;
    border: 1px solid #FFF;
    border-radius: 100px;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: -11px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
}

.navigation_theme_dark .navigation__list-item_primary {
    color: #1A1B22;
    border: 1px solid #1A1B22;
}

.navigation__list-item_primary-icon {
    margin-left: 20px;
}

.navigation__list-link {
    text-decoration: none;
}

.navigation__list-link:visited {
    text-decoration: none;
    color: white;
}

.navigation__list-link:active {
    border-bottom: 3px;
    color: white;
}

.navigation_theme_dark .navigation__list-link {
    color: #1A1B22;
}

.navigation__mobile-hamburger {
    display: none;
}

.navigation__mobile-hamburger:hover {
    opacity: .8;
}

@media screen and (max-width: 1460px) {
    .navigation__list {
        padding-left: 256px;
    }

    .navigation__list-item {
        padding-left: 0;
    }
}

@media screen and (max-width: 800px) {
    .navigation__list {
        padding-left: 20px;
        padding-right: 60px;
    }
}

@media screen and (max-width: 800px) {
    .navigation__list {
        padding-right: 40px;
    }
}

@media screen and (max-width: 600px) {
    .navigation__list {
        padding: 0;
        display: none;
    }

    .navigation__mobile-hamburger {
        width: 24px;
        height: 24px;
        margin: 0 16px 0 0;
        display: block;
    }
}