.navigation__list {
    display: flex;
    margin-top: 30px;
    padding-left: 625px;
}

.navigation__list-item {
    list-style-type: none;
    margin-right: 42px;
}

.navigation__list-item_primary {
    width: 176px;
    height: 24px;
    border: 1px solid #FFF;
    border-radius: 100px;
    padding-top: 12px;
    padding-bottom: 8px;
    margin-top: -11px;
}

.navigation__list-item_primary-icon {
    padding-left: 20px;
}

.navigation__list-link {
    text-decoration: none;
}

.navigation__list-link:visited {
    text-decoration: none;
    color: white;
}

.navigation__list-link:hover {
    cursor: pointer;
}

.navigation__list-link:active {
    border-bottom: 3px;
    color: white;
}

.navigation__mobile-hamburger {
    display: none;
}

@media screen and (max-width: 1200px) {
    .navigation__list {
        padding-left: 256px;
    }

    .navigation__list-item {
        padding-left: 0;
    }
}

@media screen and (max-width: 800px) {
    .navigation__list {
        padding-left: 20px;
        padding-right: 60px;
    }
}

@media screen and (max-width: 800px) {
    .navigation__list {
        padding-right: 40px;
    }
}

@media screen and (max-width: 600px) {
    .navigation__list {
        padding: 0;
        display: none;
    }

    .navigation__mobile-hamburger {
        width: 24px;
        height: 24px;
        margin: 0 16px 0 0;
        display: block;
    }
}