.footer {
    display: flex;
    margin: 32px 104px 26px 106px;
    justify-content: space-between;
}

.footer__copyright {
    font-size: 16px;
    color: #B6BCBF;
    width: 433px;
    text-align: left;
}

.footer__navigation {
    padding-left: 383px;
    list-style-type: none;
    display: flex;
}

.footer__navigation-item {
    font-size: 18px;
    margin-left: 45px;
}

.footer__navigation_stacked {
    display: flex;
}

.footer__navigation-item:nth-child(2) {
    width: 192px;
}

.footer__navigation-item:last-child {
    margin-left: 20px;
}

.footer__navigation-item-link {
    text-decoration: none;
}

.footer__navigation-item-link:visited {
    color: #1A1B22;
}

.footer__navigation-item-link:hover {
    opacity: .8;
}

.footer__navigation-item-button {
    background: transparent;
    border: none;
}

.footer__navigation-item-button:hover {
    opacity: .8;
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    .footer {
        margin: 24px 40px 21px;
        padding: 0;
    }
    
    .footer__navigation {
        padding-left: 0;
        width: 290px;
        margin-left: 0;
        padding-right: 40px;
    }

    .footer__navigation-item {
        margin: 0;
        padding: 0;
        width: 0;
    }

    .footer__navigation-item:nth-child(1) {
        width: 88px;
        padding-left: 0;
    }

    .footer__navigation-item:nth-child(2) {
        width: 176px;
        margin-left: 0;
        margin-right: 25px;
    }

    .footer__navigation-item:last-child {
        margin-left: 0;
    }

    .footer__navigation-item-button {
        padding: 0;
    }

    .footer__copyright {
        width: 300px;
    }
}

@media screen and (max-width: 720px) {
    .footer__copyright {
        width: 200px;
    }

    .footer__navigation-item:last-child {
        margin-right: 18px;
    }
}

@media screen and (max-width: 500px) {
    .footer {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column-reverse;
    }

    .footer__navigation {
        padding-left: 16px;
    }

    .footer__navigation-item {
        margin-right: 0;
    }

    .footer__navigation-item_text {
        flex-direction: column; 
        flex-wrap: wrap;
        text-align: start;
        margin: 0;
    }

    .footer__navigation_stacked {
        text-align: start;
        display: block;
        margin: 0 auto;
        width: 200px;
        line-height: 48px;
    }

    .footer__navigation-item:nth-child(2) {
        margin: 0 0 36px;
        padding-top: 10px;
    }

    .footer__navigation-item:nth-child(3) {
        margin-right: 0px;
        padding-top: 10px;
    }

    .footer__navigation-item:last-child {
        margin-left: 0;
    }

    .footer__copyright {
        margin: 0 auto 22px;
        padding: 0 16px;
        width: 300px;
    }
}
