.news-card {
    width: 400px;
    height: 576px;
    border-radius: 8px;
    overflow: hidden;
}

.news-card__image-container {
    height: 272px;
    background-color: black;
    position: relative;
}

.news-card__save {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: 0;
}

/* .news-card__photo {
} */

.news-card__info-container {
    text-align: left;
    background-color: #FFF;
    padding: 20px 24px 24px 22px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
}

.news-card__date {
    color: #B6BCBF;
    font-family: 'Source Sans Pro';
    font-size: 18px;
    line-height: 24px;
}

.news-card__title  {
    color: #1A1B22;
    font-family: 'Roboto Slab';
    font-size: 26px;
    line-height: 30px;
}

.news-card__description {
    color: #1A1B22;
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 18px;
}

.news-card__source {
    text-transform: uppercase;
    color: #B6BCBF;
    font-family: 'Roboto Slab';
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}